<div>
  <h2 class="font-semibold text-xl my-4">Search Flight</h2>

  <%= form_with method: :get, class: "flex-col space-y-4 div-container" do |f| %>
    <div>
      <%= f.label :departure_airport_id, "Departure Airport" %><br>
      <%= f.collection_select :departure_airport_id,
                          @airports,
                          :id,
                          :airport_name,
                          selected: params[:departure_airport_id] %>
    </div>

    <div>
      <%= f.label :arrival_airport_id, "Arrival Airport" %><br>
      <%= f.collection_select :arrival_airport_id,
                          @airports,
                          :id,
                          :airport_name,
                          selected: params[:arrival_airport_id] %>
    </div>

    <div>
      <%= f.label :date, "Flight Date" %><br>
      <%= f.collection_select :date, @flights, :date, :date, selected: params[:date] %>
    </div>

    <div>
      <%= f.label :num_tickets, "No. of Passengers" %><br>
      <%= f.select :num_tickets, @passengers_options, selected: params[:num_tickets] %>
    </div>

    <div>
      <%= f.submit "Search", class: "btn-primary" %>
    </div>

  <% end %>
</div>

<div>
  <h2 class="font-semibold text-xl my-4">Search Results</h2>

  <%= form_with url: new_booking_path, method: :get, class: "div-container" do |f| %>

    <ul>
      <% @flight_results.each do |flight| %>
        <%= f.hidden_field :num_tickets, value: params[:num_tickets] %>

        <div class="flex search-result">
          <%= f.radio_button :flight_id, flight.id, class: "self-start mt-1.5 mx-4 peer" %>
          <label for=<%= "flight_id_" + flight.id.to_s %> class="peer-checked:font-semibold peer-checked:text-blue-200">
            <div><%= flight.departure_airport.airport_name %></div>
            <div><%= flight.arrival_airport.airport_name %></div>
            <div><%= flight.date %></div>
            <div><%= flight.time %></div>
          </label>
        </div>

        <br>
      <% end %>
    </ul>

    <%= f.submit "Book Flight", class: "btn-primary" %>
  <% end %>
</div>
