<% if @booking.errors.any? %>
  <div class="px-2 py-2 bg-red-500 text-white font-semibold rounded">
    <%= @booking.errors.first.full_message %>
  </div>
<% end %>

<h2 class="font-semibold text-xl my-4">Book Flight</h2>

<div class="div-container">
  <div>
    From:
    <%= @flight.departure_airport.name_with_code %>
  </div>
  <div>
    To:
    <%= @flight.arrival_airport.name_with_code %>
  </div>
  <div>
    <%= @flight.date %>
  </div>
  <div>
    <%= @flight.formatted_time %>
  </div>
</div>

<h2 class="font-semibold text-xl my-4">Passengers</h2>

<%= form_with model: @booking do |booking_form| %>
  <%= booking_form.fields_for :passengers do |passenger_form| %>
    <%= booking_form.hidden_field :flight_id, value: @flight.id %>
    <div class="div-container my-6">
      <div class="italic text-xs">
        Enter passenger info
      </div>
      <div class="mt-4">
        <%= passenger_form.label :name %><br>
        <%= passenger_form.text_field :name, class: "bg-slate-300 w-full rounded-lg text-gray-800" %>
      </div>
      <div class="mt-2">
        <%= passenger_form.label :email %><br>
        <%= passenger_form.email_field :email, class: "bg-slate-300 w-full rounded-lg text-gray-800 invalid:border-red-500" %>
      </div>
    </div>
  <% end %>

  <%= booking_form.submit "Book Flight", class: "btn-primary" %>
<% end %>
